.containor2-main {
  margin-top: 2rem;
  background-color: lightgrey;
}
.colsenter {
  padding: 4rem 0rem 5rem 5rem !important;
}
.paragap {
  max-width: 80%;
  font-size: 28px;
}
#main {
  margin-top: 20px !important;
  /* border: 1px solid black; */
}
.col-admin {
  background-color: black;
  color: #fff;
  padding: 3rem 30px 30px 3rem !important;
  border-radius: 8px;
  margin-right: 20px;
}
.btn-admin {
  padding: 5px 20px 5px 20px;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.col-user {
  background-color: lightgray;
  color: black;
  padding: 3rem 30px 30px 3rem !important;
  border-radius: 8px;
}
.btn-user {
  padding: 7px 20px 7px 20px;
  background-color: #f7f7f7f7;
  border: 1px solid lightgray;
  color: black;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-right: 10px;
}
