.profileMain {
  margin-top: 3rem;
  margin: 20px;
}
.main-pro {
  width: 40vw;
  border: 1px solid lightgray;
}
.edit-pro-hadding {
  background-color: #f7f7f7;
  padding: 5px;
}
.profileInput {
  padding-left: 10px;
  margin-top: 15px;
}
.profileField {
  width: 38vw;
  padding: 5px;
  border: 1px solid lightgray;
}
.profilebtnDiv {
  margin-left: 10px;
  margin-top: 10px;
}
.profileUpdate {
  padding: 5px 10px 5px 10px;
  border: none;
  margin-bottom: 15px;
  background-color: #24a0ed;
  color: #fff;
}
.dash {
  width: 81vw;
  background-color: #f7f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
  color: gray;
}
